* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  width: 400px;
  height: 400px;
  border: 1px solid;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
}

.box {
  width: 90%;
  height: 90%;
  align-self: center;
  justify-self: center;
  border: 1px solid;
}

.bgColor {
  background-color: orangered;
}
